// Light mode colors
$blue: #0079ff;
$grayBlue: #697c9a;
$blueGray: #4b6a9b;
$navy: #2b3442;
$skyBlue: #f6f8ff;
$offWhite: #fefefe;

// Dark mode colors
$white: #ffffff;
$darkGray: #222731;
$darkBlue: #1e2a47;
$lightBlue: #60abff;
$lavender: #90a4d4;
$pastelBlue: #d7dcef;
$red: #f74646;
$midnight: #141d2f;

$dark-theme: (
  componentBg: $darkBlue,
  siteBg: $midnight,
  mainHeading: $white,
  h4Color: $white,
  body: $white,
  h2Color: $white,
  inputColor: $white
);

$light-theme: (
  componentBg: $offWhite,
  siteBg: $skyBlue,
  mainHeading: $navy,
  h4Color: $blueGray,
  body: $grayBlue,
  h2Color: $navy,
  inputColor: $darkGray
);
