// Light mode colors
$blue: #0079FF;
$grayBlue: #697C9A;
$blueGray: #4B6A9B;
$navy: #2B3442;
$skyBlue: #F6F8FF;
$offWhite: #FEFEFE;


// Dark mode colors
$white: #FFFFFF;
$darkGray: #222731;
$darkBlue: #1E2A47;
$lightBlue: #60ABFF;
$lavender: #90A4D4;
$pastelBlue: #D7DCEF;
$red: #F74646;
$midnight: #141D2F;
